body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 150px;
    padding-right: 100px;
}
#jphc {
    font-size: 24px;
    padding-bottom: 50px;
}
#vcp2 {
    font-size: 24px;
    padding-bottom: 200px;
}
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 50px;
    text-transform: uppercase;
}
.ide {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding-left: 90px;
}
.dide {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    padding-left: 120px;
    color: rgb(46, 46, 46);
}
.navigation {
    background-color:rgb(19, 19, 56);
    background-size: cover;
    background-position: center;
    height: 40px;
    border-bottom: 4pt solid rgb(10, 10, 10);
}
.content {
    background-color: rgb(10, 10, 10);
    background-size: cover;
    background-position: center;
    height: 320px;
    opacity: 0.85;
}
.tablink {
    background-color: rgb(19, 19, 56);
    color: whitesmoke;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 16px;
    width: 10%;
  }
.buttongrp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.email {
    background-color: black;
    border: none;
    outline:none;
    color: white;
    padding: 10pt 25pt;
    cursor: pointer;
    margin: 15px;
    font-size: 20px;
    opacity: 100;
}
.email:hover {
    background-color: white;
    color:black;
    outline-style: outset;
    outline-width: 5pt;
    outline-color: white;
}
.javac {
    background-color: rgb(43, 43, 43);
    background-position: center;
    height: 50px;
}
.javacb {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14.5px 13px;
    width: 20%;
    font-size: 18px;
}
.javacb:hover {
    background-color: rgb(110, 110, 110);
}
#box {
    background-color: white;
    background-position: center;
    height: 100px;
    margin: 70pt;
    padding-bottom: 300pt;
}
#box2 {
    background-color: white;
    background-position: center;
    height: 145px;
    margin: 70pt;
    padding-bottom: 300pt;
}
.frame {
    height: 157px;
    width: 443.9px;
    zoom: 2.8;
}
.btn {
    background-color: white;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 75pt 75pt;
    cursor: pointer;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    margin: 10px;
    transition: .3s;
    text-decoration: underline overline;
    border-radius: 50%;
}
#b1:hover {
    background-color:rgb(0, 100, 100);
    color: white;
    outline-style: outset;
    outline-width: 10pt;
    outline-color: white;
    border-radius: 0%;
}
#b2:hover {
    background-color: rgb(145, 145, 0);
    color: white;
    outline-style: outset;
    outline-width: 10pt;
    outline-color: white;
    border-radius: 0%;
}
#b3:hover {
    background-color:rgb(134, 87, 0);
    color: white;
    outline-style: outset;
    outline-width: 10pt;
    outline-color: white;
    border-radius: 0%;
}
.tablink:hover {
    background-color: rgb(13, 16, 32);
}
#tabs {
    text-transform: uppercase;
    font-weight: bold;
}
#h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 58px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
#languages {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-left: 100px;
}
#vcp {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-left: 100px;
}
#h3 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
}
#more {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    padding-left: 100px;
    padding-bottom: 100px;
}
#amp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
}
#knowlang {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 150px;
    padding-right: 100px;
}
#resume {
    padding-left: 230px;
    padding-bottom: 200px;
}
#res {
    height: 600px;
    width: 80%;
}
#explp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
}
#includes {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-left: 100px;
}
.part2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
.white {
    background-color: white;
    border-top: 4pt solid black;
    border-bottom: 4pt solid rgb(0, 0, 0);
}
#PCEP {
    padding-top: 20px;
    width: 20%;
    height: 20%;
}
#certscont {
    text-align: center;
    padding-bottom: 300px;
}
.verify {
    padding: 14px 25px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    background-color: rgb(19, 19, 56);
    color: white;
    border-radius: 5%;
    outline: none;
}
.verify:hover {
    background-color: rgb(45, 45, 131);
}