body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.navigation {
    background-color:rgb(19, 19, 56);
    background-size: cover;
    background-position: center;
    height: 40px;
}
.content {
    background-color: rgb(10, 10, 10);
    background-size: cover;
    background-position: center;
    height: 300px;
    opacity: 0.90;
}
.tablink {
    background-color: rgb(19, 19, 56);
    color: whitesmoke;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 16px;
    width: 15%;
  }
.tablink:hover {
    background-color: rgb(13, 16, 32);
}
#tabs {
    text-transform: uppercase;
    font-weight: bold;
}
#h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 58px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
#h3 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 50px;
}
#intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
}
#more {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    padding-left: 100px;
    padding-bottom: 100px;
}
#am {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 50px;
}
#amp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
}
#languages {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 50px;
}
#knowlang {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(51, 50, 50);
    padding-bottom: 100px;
}